*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,li,figure,figcaption,blockquote,dl,dd
{margin:0}
body{font-family:open sans,sans-serif;font-size:17px;min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed}
p{margin:0 0 20px}
.container{max-width:840px;margin:0 auto}
.header{display:flex;justify-content:center;margin-bottom:20px}
.rader-content
{display:flex;position:relative;padding:1px 20px;margin-bottom:10px;background-color:#fff;box-shadow:#24212138}
.statistic-wrap{display:flex;align-items:center}
.statistic{margin:0 15px 0 0;font-size:14px;color:#606060}
.rader-body {display:flex;flex-direction:column;padding:20px 30px}
.title{color:#222;font-size:42px;line-height:39px;font-weight:700;text-align:center;padding:20px}
@media
(max-width:768px){.title{font-size:22px}}
.img-body{width:100%;max-width:100%;padding:0px}.p1{color:#000;padding:10px}
.p2{color:#000;padding:10px}
.p3{color:#606060;padding:10px}
.article-button{width:100%;max-width:500px;padding:18px 10px;margin:20px auto;background:#228B22;font-weight:500;font-size:28px;color:#fff;text-align:center;text-decoration:none;letter-spacing:.4px;cursor:pointer}
.article-button:hover{background:#54a73f}
}

     .pirataria b {
      color: #FFC400;
    }

    .pirataria {
      font-size: 12px;
      text-align: justify;
    }

    footer {
      background-color: #292929;
      padding-top: 5px;
      padding-bottom: 20px;
      color: white;
      text-align:center
    }

    .cpy {
      font-size: 12px;
      margin: 11px 0px 10px 0px;
    }

    .links a {
      font-size: 12px;
      color: white;
    }
